scenarios/aidevs_memory_basic-1711559341.json
{
    "name": "AI_devs — Slack",
    "flow": [
        {
            "id": 1,
            "module": "slack:WatchMessages",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 5070,
                "inputMethod": "list",
                "limit": 1,
                "channel": "C06RF20854N"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "overment - slack (adam)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack2"
                            }
                        },
                        "inputMethod": {
                            "label": "Select from a list"
                        },
                        "channel": {
                            "label": "links"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Input Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "search"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public Channel",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2054683
            },
            "mapper": {
                "select": "chat",
                "max_tokens": "2500",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "model": "gpt-4-1106-preview",
                "messages": [
                    {
                        "role": "system",
                        "content": "Extract key information from the user's message and represent it as a JSON object using this format:\n\n```json\n{\n  \"content\": \"Memory description based solely on the user's input\",\n  \"type\": \"note|memory|resource\",\n  \"source\": \"comma-separated URLs, if provided\"\n}\n```\n\nFollow these guidelines:\n- `content`: Concisely summarize the essential information from the user's message\n- `type`: \n  - Use `\"note\"` only if the user explicitly states they are providing a note\n  - Use `\"resource\"` only if the user mentions a link to be remembered  \n  - Use `\"memory\"` if the user asks you to remember a fact that doesn't fit the other categories\n- `source`: Include relevant URLs, separated by commas, if the user provides any\n\nRemember:\n- Focus exclusively on the user's input; do not add any extra information\n- Keep the `content` summary brief but informative\n- Ensure the output is a valid JSON object with properly formatted and escaped values\n- If no URLs are provided, set `source` to an empty string\n- Ask for clarification if the input is ambiguous or incomplete\n\nExample:\nUser: Please remember that my favorite color is blue.\nAssistant: ```json\n{\n  \"content\": \"User's favorite color is blue\",\n  \"type\": \"memory\",\n  \"source\": \"\"\n}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Describe"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "OpenAI",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-1106-preview (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{3.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2446058
            },
            "mapper": {
                "base": "appwMSq5CdeokCeMR",
                "typecast": false,
                "useColumnId": false,
                "table": "tblutso0tSjx6KKJP",
                "record": {
                    "fldGhaHQHFEAvUBJZ": "{{4.content}}",
                    "fldc2FcxFJve3hjJQ": "{{4.type}}",
                    "fldExszmRJjNJ56bU": "{{4.source}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Save"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "overment (token)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "AI_Devs — Memory"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldGhaHQHFEAvUBJZ",
                                            "label": "content",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldc2FcxFJve3hjJQ",
                                            "label": "type",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "resource",
                                                    "value": "resource"
                                                },
                                                {
                                                    "label": "memory",
                                                    "value": "memory"
                                                },
                                                {
                                                    "label": "note",
                                                    "value": "note"
                                                },
                                                {
                                                    "label": "skill",
                                                    "value": "skill"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldExszmRJjNJ56bU",
                                            "label": "source",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fld1AccG7pz8LvJPS",
                                            "label": "synced",
                                            "type": "boolean"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Memories"
                        },
                        "record": {
                            "nested": {
                                "fldc2FcxFJve3hjJQ": {
                                    "mode": "edit"
                                },
                                "fld1AccG7pz8LvJPS": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldGhaHQHFEAvUBJZ",
                                "type": "text",
                                "label": "content"
                            },
                            {
                                "name": "fldc2FcxFJve3hjJQ",
                                "type": "select",
                                "label": "type",
                                "mode": "edit"
                            },
                            {
                                "name": "fldExszmRJjNJ56bU",
                                "type": "text",
                                "label": "source"
                            },
                            {
                                "name": "fld1AccG7pz8LvJPS",
                                "type": "boolean",
                                "label": "synced"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "record_id",
                        "label": "record_id",
                        "type": "text"
                    },
                    {
                        "name": "content",
                        "label": "content",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "type",
                        "label": "type",
                        "type": "text"
                    },
                    {
                        "name": "source",
                        "label": "source",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "label": "created_at",
                        "type": "date"
                    },
                    {
                        "name": "synced",
                        "label": "synced",
                        "type": "boolean"
                    },
                    {
                        "name": "update",
                        "label": "update",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "sync",
                        "label": "sync",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}